{{#var class = props.class /}}

<ul class="{{ class }}">
  {{~#if settings.social_media_facebook_link }}
    <li><a href="{{ settings.social_media_facebook_link }}" target="_blank">{{#component "icons/facebook" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_twitter_link }}
    <li><a href="{{ settings.social_media_twitter_link }}" target="_blank">{{#component "icons/twitter" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_pinterest_link }}
    <li><a href="{{ settings.social_media_pinterest_link }}" target="_blank">{{#component "icons/pinterest" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_instagram_link }}
    <li><a href="{{ settings.social_media_instagram_link }}" target="_blank">{{#component "icons/instagram" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_snapchat_link }}
    <li><a href="{{ settings.social_media_snapchat_link }}" target="_blank">{{#component "icons/snapchat" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_tiktok_link }}
    <li><a href="{{ settings.social_media_tiktok_link }}" target="_blank">{{#component "icons/tiktok" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_youtube_link }}
    <li><a href="{{ settings.social_media_youtube_link }}" target="_blank">{{#component "icons/youtube" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_vimeo_link }}
    <li><a href="{{ settings.social_media_vimeo_link }}" target="_blank">{{#component "icons/vimeo" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_tumblr_link }}
    <li><a href="{{ settings.social_media_tumblr_link }}" target="_blank">{{#component "icons/tumblr" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_line_link }}
    <li><a href="{{ settings.social_media_line_link }}" target="_blank">{{#component "icons/line" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_linkedin_link }}
    <li><a href="{{ settings.social_media_linkedin_link }}" target="_blank">{{#component "icons/linkedin" /}}</a></li>
  {{/if~}}
  {{~#if settings.social_media_custom1_link && settings.social_media_custom1_image }}
    <li>
      <a href="{{ settings.social_media_custom1_link }}" target="_blank">
        {{#image_tag settings.social_media_custom1_image | image_url() width=28 height=28 /}}
      </a>
    </li>
  {{/if~}}
  {{~#if settings.social_media_custom2_link && settings.social_media_custom2_image }}
    <li>
      <a href="{{ settings.social_media_custom2_link }}" target="_blank">
        {{#image_tag settings.social_media_custom2_image | image_url() width=28 height=28 /}}
      </a>
    </li>
  {{/if~}}
  {{~#if settings.social_media_custom3_link && settings.social_media_custom3_image }}
    <li>
      <a href="{{ settings.social_media_custom3_link }}" target="_blank">
        {{#image_tag settings.social_media_custom3_image | image_url() width=28 height=28 /}}
      </a>
    </li>
  {{/if~}}
  {{~#if settings.social_media_custom4_link && settings.social_media_custom4_image }}
    <li>
      <a href="{{ settings.social_media_custom4_link }}" target="_blank">
        {{#image_tag settings.social_media_custom4_image | image_url() width=28 height=28 /}}
      </a>
    </li>
  {{/if~}}
  {{~#if settings.social_media_custom5_link && settings.social_media_custom5_image }}
    <li>
      <a href="{{ settings.social_media_custom5_link }}" target="_blank">
        {{#image_tag settings.social_media_custom5_image | image_url() width=28 height=28 /}}
      </a>
    </li>
  {{/if~}}
</ul>
